<!-- app/views/blog_posts/show.html.erb -->
<!-- app/views/blog_posts/show.html.erb -->
<div data-react-component="BlogPostPage"
     data-react-props="<%= {
                             post: @blog_post
                           }.to_json %>">
</div>