<div data-react-component="HomePage"
     data-react-props="<%= {
                             featuredPublications: @featured_publications.as_json,
                             recentOpportunities: @recent_job_listings.as_json
                           }.to_json %>">
</div>